@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-family: "monospace";
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;
}

body {
  background-color: rgb(30 41 59);
} */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: rgb(240, 240, 240);
  color: rgb(79, 79, 79);
  font-size: 0.8rem;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 4px;
  left: 64px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Hide scrollbar for all elements */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for IE and Edge */
  scrollbar-width: none; /* for Firefox */
}

.inner-shadow {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.display-shadow-none {
  box-shadow: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.scroll-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
  pointer-events: none;
}

/* custom gradient bg */
.bg-gradient {
  background: linear-gradient(165deg, #001099 0, #3ad9ff 100%);
}
/* loading spinner */
/* components/LoadingSpinner.css */
.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* custom btn across components */
.blue-btn {
  background-color: #3b82f6;
  color: #ffffff;
  border-radius: 0.375rem;
}

/* my colors */
.darkGray-color {
  color: #7e909a;
}
.lightGray-color {
  color: #f1f1f1;
}

.deep-blue {
  color: #1c4e80;
}

.dark-orange {
  color: #ea6a47;
}

.blue {
  color: #0091d5;
}

.light-blue {
  color: #a5d8dd;
}

/* bg color */

.bg-blue {
  background-color: #a5d8dd;
}

.text-blue {
  color: #1c4e80;
}

/* for error alert */
.error-container {
  margin: 20px auto;
  padding: 10px;
  max-width: 600px;
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  border-radius: 5px;
  text-align: center;
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
} */
/* custom Descriptions styles  */
.custom-descriptions .ant-descriptions-item-label {
  font-weight: 600;
  background-color: #f8fafc;
}

.custom-descriptions .ant-descriptions-item-content {
  font-weight: 500;
}
