@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-family: "poppins";
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;
}

body {
  background-color: rgb(30 41 59);
} */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: rgb(240, 240, 240);
  color: rgb(79, 79, 79);
  font-size: 0.8rem;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 4px;
  left: 64px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
